.chats-body {
    padding: 0;
}

.chats-body .header,
.chats-body .status-bar {
    padding: 0px 20px;
}

.chat-screen{
    background-image: url("../images/chat_bg.png");
    min-height: 100vh;
}

.chat__write{
    position: fixed;
    bottom: 50px;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fcfcfc;
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    padding: 0px 20px;
    border-radius: 40px;
}

.chat__write i {
    font-size: 22px;
}

.chat__write-column:nth-child(2) {
    width: 80%;
}

.chat__write-column input {
    padding: 10px 10px;
    width: 100%;
    border: none;
    font-size: 14px;
}

.chat__write-column input:focus {
    outline: none;
}

.chat-screen .chat__messages{
    border-top: 1px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    padding-top: 30px;
}

.chat__messages .chat__timestamp{
    background-color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
    text-transform: uppercase;
    font-weight: 600;
}

.message{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

/* .message .message__content {
    width: 80%;
} */

.incoming-message{
    align-self: flex-start;
}

.sent-message{
    align-self: flex-end;
}

.incoming-message img{
    width: 30px;
    border-radius: 15px;
    margin-right: 15px;
}

.message .message__bubble{
    background-color: white;
    display: block;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
}

.incoming-message .message__author {
    margin-top: 10px;
    display: block;
    font-weight: 600;
    font-size: 12px;
}

.incoming-message .message__bubble{
    border-bottom-left-radius: 0px;
    background-image:linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
}

.sent-message .message__bubble{
    border-bottom-right-radius: 0px;
    background-image:linear-gradient(to left, #f12711, #f5af19);
}